<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>聪明的学生都在这里 - 探果网</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta name="author" content="tamguo" />
    <meta name="site" content="https://book.tamguo.com" />
    <meta name="keywords" content="高考,考研,财会类,建筑工程,职业资格,医卫类,会计类">
    <meta name="description" content="MinDoc文档在线管理系统探果网,高考试题,高考试卷,高校试题,名校,名校试题,名校试卷,高校名师,名师专访,名师教案,名师课堂试题库,试卷库,智能题库,历年真题,模拟试题,押题,预测试题,高考,会计证,会计从业,会计师,经济师,施工员,建造师,建筑师,造价师,职业资格,证券资格,考研,计算机考试,建筑考试,财会类,医卫类,护士资格,公务员,知识点,试题,试卷">
    
    <link th:href="${domainName + 'bootstrap/css/bootstrap.min.css'}" rel="stylesheet">
    <link th:href="${domainName + 'font-awesome/css/font-awesome.min.css'}" rel="stylesheet">
    <link th:href="${domainName + 'css/main.css'}" rel="stylesheet">
    <link type="favicon" rel="shortcut icon" th:href="${domainName + 'images/favicon.png'}" />
</head>
<body>
<div class="manual-reader manual-container">
    <header class="navbar navbar-static-top navbar-fixed-top manual-header" role="banner">
    <div class="container">
        <div class="navbar-header col-sm-12 col-md-9 col-lg-8">
            <a th:href="${domainName}" class="navbar-brand" title="探果网">
              	  <img alt="logo" src="https://www.tamguo.com/images/logo_731bc32.png">
            </a>
            <nav class="collapse navbar-collapse col-sm-10">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a th:href="${domainName}" title="首页">首页</a>
                    </li>
                </ul>
                <div class="searchbar pull-left visible-lg-inline-block visible-md-inline-block">
                    <form class="form-inline" th:action="${domainName}" method="get">
                        <input class="form-control" name="keyword" type="search" style="width: 230px;" placeholder="请输入关键词..." value="">
                        <button class="search-btn">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
            </nav>

            <div class="btn-group dropdown-menu-right pull-right slidebar visible-xs-inline-block visible-sm-inline-block">
                <button class="btn btn-default dropdown-toggle hidden-lg" type="button" data-toggle="dropdown"><i class="fa fa-align-justify"></i></button>
                <ul class="dropdown-menu" role="menu">
                    
                    <li><a th:href="${memberDomain + 'login.html'}" title="用户登录">登录</a></li>
                    
                </ul>
            </div>

        </div>
        <nav class="navbar-collapse hidden-xs hidden-sm" role="navigation">
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="${memberDomain + 'login.html'}" title="用户登录">登录</a></li>
            </ul>
        </nav>
    </div>
</header>
    <div class="container manual-body">
        <div class="row">
            <div class="manual-list">
                
                    <div class="list-item" th:each="book,bookstatus:${bookPage.records}">
                        <dl class="manual-item-standard">
                            <dt>
                                <a th:href="${domainName + 'book/' + book.id + '.html'}" th:title="${book.name}" target="_blank">
                                    <img th:src="${book.bookImage}" class="cover" th:alt="${book.name}" onerror="this.src='https://book.tamguo.com/images/book.jpg';">
                                </a>
                            </dt>
                            <dd>
                                <a th:href="${domainName + 'book/' + book.id + '.html'}" class="name" th:title="${book.name}" target="_blank" th:text="${book.name}">运行支持组</a>
                            </dd>
                            <dd>
                            <span class="author">
                                <b class="text">作者</b>
                                <b class="text">-</b>
                                <b class="text" th:text="${book.memberName}">mayun12</b>
                            </span>
                            </dd>
                        </dl>
                    </div>
                <div class="clearfix"></div>
            </div>
            <nav class="pagination-container">
                <ul class="pagination pagination-lg" >
				    <li th:class="${bookPage.current==1}?'disabled' : ''"><a href="#">上一页</a></li>
				    <li th:if="${bookPage.current-3 >=1}" ><a th:href="@{'index.html?current=' + ${bookPage.current-3}}" th:text="${bookPage.current -3}" >1</a></li>
				    <li th:if="${bookPage.current-2 >=1}" ><a th:href="@{'index.html?current=' + ${bookPage.current-2}}" th:text="${bookPage.current -2}" >1</a></li>
				    <li th:if="${bookPage.current-1 >=1}" ><a th:href="@{'index.html?current=' + ${bookPage.current-1}}" th:text="${bookPage.current -1}" >1</a></li>
				    <li class="active"><a href="#" th:text="${bookPage.current}" >1</a></li>
				    <li th:if="${bookPage.current+1 <=bookPage.pages}" ><a th:href="@{'index.html?current=' + ${bookPage.current+1}}" th:text="${bookPage.current +1}" >1</a></li>
				    <li th:if="${bookPage.current+2 <=bookPage.pages}" ><a th:href="@{'index.html?current=' + ${bookPage.current+2}}" th:text="${bookPage.current +2}" >1</a></li>
				    <li th:if="${bookPage.current+3 <=bookPage.pages}" ><a th:href="@{'index.html?current=' + ${bookPage.current+3}}" th:text="${bookPage.current +3}" >1</a></li>
				
				    <li th:class="${bookPage.current==bookPage.total}?'disabled' : ''" ><a href="#">下一页</a></li>
				</ul>
                <div class="clearfix"></div>
            </nav>
        </div>
    </div>
    <div class="footer">
    <div class="container">
        <div class="row text-center border-top">
            <span><a href="https://www.tamguo.com/" target="_blank">官方网站</a></span>
            <span>&nbsp;·&nbsp;</span>
            <span><a th:href="${domainName}" target="_blank">意见反馈</a></span>
            <span>&nbsp;·&nbsp;</span>
            <span><a th:href="${domainName}" target="_blank">项目源码</a></span>
            <span>&nbsp;·&nbsp;</span>
            <span><a th:href="${domainName}" target="_blank">使用手册</a></span>
        </div>
        
        <div class="row text-center">
            <a href="http://www.miitbeian.gov.cn" target="_blank">沪备案号 沪ICP备14022608号-1 Copyright © 2018 Tamguo</a>
        </div>
        
    </div>
</div>
</div>
<script th:src="${domainName + 'js/jquery-1.12.4.min.js'}" type="text/javascript"></script>
<script th:src="${domainName + 'bootstrap/js/bootstrap.min.js'}" type="text/javascript"></script>
</body>
</html>