<!DOCTYPE html>
<html lang="Zh-hans" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
        <title>探果题库为老师创造价值-探果题库</title>
        <!-- 引入 FrozenUI -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/muse-ui@3.0.0-rc.5/dist/muse-ui.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
		<link rel="stylesheet" href="https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.css">
		<style type="text/css">
			.mu-appbar-header {
			    position: fixed;
			    left: 0;
			    right: 0;
			    top: 0;
			    z-index: 101;
			    overflow: hidden
			}
		</style>
    </head>
    <body>
    	<div id="app">
	    	<mu-appbar style="width: 100%;" color="primary" class="mu-appbar-header">
			  <mu-button icon slot="left" @click="open = true">
			    <mu-icon value="menu"></mu-icon>
			  </mu-button>
				探果题库
				
			  <mu-button flat slot="right">登录</mu-button>
			  <mu-button flat slot="right">注册</mu-button>
			</mu-appbar>
			
			
			<mu-container style="margin-top:80px;">
				 <mu-container>
					  <mu-breadcrumbs divider="—" v-show="index == 1">
					    <mu-breadcrumbs-item>理科数学</mu-breadcrumbs-item>
					  </mu-breadcrumbs>
					  
					   <mu-breadcrumbs divider="—" v-show="index == 2">
					    <mu-breadcrumbs-item>理科数学</mu-breadcrumbs-item>
					    <mu-breadcrumbs-item>{{secondLevelName}}</mu-breadcrumbs-item>
					  </mu-breadcrumbs>
					  
					   <mu-breadcrumbs divider="—" v-show="index == 3">
					    <mu-breadcrumbs-item>理科数学</mu-breadcrumbs-item>
					    <mu-breadcrumbs-item>{{secondLevelName}}</mu-breadcrumbs-item>
					    <mu-breadcrumbs-item>{{thirdLevelName}}</mu-breadcrumbs-item>
					  </mu-breadcrumbs>
				  </mu-container>
				  
				  <mu-list v-show="index == 1">
				    <mu-list-item button :ripple="true" v-for="chapter in chapterList" @click="toSecondLevelChapterList(chapter)">
				      <mu-list-item-title>{{chapter.name}}</mu-list-item-title>
				      <mu-list-item-action>
				        <mu-icon value="keyboard_arrow_right"></mu-icon>
				      </mu-list-item-action>
				    </mu-list-item>
				  </mu-list>
				  
				  <mu-list v-show="index == 2">
				    <mu-list-item button :ripple="true" v-for="chapter in secondLevelChapterList" @click="toThirdLevelChapterList(chapter)">
				      <mu-list-item-title>{{chapter.name}}</mu-list-item-title>
				      <mu-list-item-action>
				        <mu-icon value="keyboard_arrow_right"></mu-icon>
				      </mu-list-item-action>
				    </mu-list-item>
				  </mu-list>
				  
				  <mu-list v-show="index == 3">
				    <mu-list-item button :href="chapter.url" @click="toQuestion(chapter)" :ripple="true" v-for="chapter in thirdLevelChapterList" >
				      <mu-list-item-title>{{chapter.name}} 题目数:{{chapter.questionNum}}</mu-list-item-title>
				      
				      <mu-list-item-action>
				        <mu-icon value="keyboard_arrow_right"></mu-icon>
				      </mu-list-item-action>
				    </mu-list-item>
				  </mu-list>
				  
				  <mu-drawer :open.sync="open" :docked="docked" :right="position === 'right'">
				    <mu-list>
				    	
				      <mu-list-item :href="mainHttp" button>
				        <mu-list-item-title>首页</mu-list-item-title>
				      </mu-list-item>
				      
				      <mu-list-item button v-for="course in courseList" :href="course.url" @click="open = false">
				        <mu-list-item-title>{{course.name}}</mu-list-item-title>
				      </mu-list-item>
				      
				      <mu-list-item  @click="open = false" button>
				        <mu-list-item-title>关闭</mu-list-item-title>
				      </mu-list-item>
				    </mu-list>
				  </mu-drawer>
			<mu-container>
		</div>
    </body>
    <!-- 引入 Vue -->
    <script type="text/javascript" th:inline="javascript">
		var mainHttp = [[${setting.domain}]];
		var subjectId = [[${subjectId}]];
		var courseId = [[${courseId}]];
	</script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16"></script>
    <script src="https://cdn.jsdelivr.net/npm/muse-ui@3.0.0-rc.5/dist/muse-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>
    <script th:src="${setting.domain + 'js/chapter/main.js'}"></script>
</html>