<!DOCTYPE html>
<head>
<meta charset="utf-8">
<meta content="webkit" name="renderer"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="Expires" content="0"/>
<meta content="width=device-width, initial-scale=1, user-scalable=1" name="viewport"/>
<meta content="Tamguo V1.0 - Powered By Tamguo V1.0" name="description"/>
<meta content="Tamguo, http://www.tamguo.com" name="author"/>
<meta content="Powered By Tamguo V1.0" name="keywords"/>
<title>登录 - Tamguo V1.0</title>
<script src="/jquery/jquery-1.12.4.min.js"></script>
<script src="/jquery/jquery-migrate-1.4.1.min.js"></script>
<link rel="stylesheet" href="/fonts/font-icons.min.css">
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/select2/4.0/select2.css?V4.0-07171341">
<link rel="stylesheet" href="/icheck/1.0/minimal/grey.css?V4.0-07171341">
<link rel="stylesheet" href="/adminlte/css/AdminLTE.min.css?V4.0-07171341">
<link rel="stylesheet" href="/common/jeesite.css?V4.0-07171341">
<link rel="stylesheet" href="/common/common.css?V4.0-07171341">
<link rel="stylesheet" href="/icheck/1.0/square/blue.css?V4.0-07171341"/>
<link rel="stylesheet" href="/jquery-toastr/2.0/toastr.min.css?V4.0-07171341"/>
<link rel="stylesheet" href="/modules/sys/sysLogin.css?V4.0-07171341"/>
</head>
<body class="hold-transition login-page">
<div class="wrapper">
<div class="login-box">
	<div class="login-logo" title="JeeSite Demo">
		<a href="/js/a/login"><b>TAMGUO OMS</b> <small>V1.0</small></a>
	</div>
	<div class="login-box-body">
<form id="loginForm" action="/login" method="post">
			<div class="form-group has-feedback">
				<span class="glyphicon glyphicon-user form-control-feedback" title="登录账号"></span>
			<input type="text" id="username" name="username" value="" class="form-control required" data-msg-required="请填写登录账号." placeholder="登录账号"/>
			</div>
			<div class="form-group has-feedback">
				<span class="glyphicon glyphicon-lock form-control-feedback"
					title="登录密码，鼠标按下显示密码"
					onmousedown="$('#password').attr('type','text')"
					onmouseup="$('#password').attr('type','password')"></span>
			<input type="password" id="password" name="password" value="" class="form-control required" data-msg-required="请填写登录密码." placeholder="登录密码" autocomplete="off"/>
			</div>
			<div class="form-group has-feedback" id="isValidCodeLogin">
	
			<div class="input-group">
				<span class="input-group-addon">验证码：</span>
				<input type="text" id="validCode" name="validCode" class="form-control" required="true" data-msg-required="请填写验证码" remote="/validCode" data-msg-remote="验证码不正确."/>
				<span class="input-group-addon p0">
					<img id="validCodeImg" class="validCodeImg" title="看不清，点击图片刷新" src="" alt="" style="width:100px;"/>
				</span>
			</div>
<script>
$('#validCodeImg').click(function(){
	var src = '/validCode?'+new Date().getTime();
	$('#validCodeImg').attr('src',src).removeClass('hide');
	$('#validCode').val('').focus();
});
$('#validCode').focus(function(){
	if($('#validCodeImg').attr('src')==''){
		$('#validCodeImg').click();
	}
});
setTimeout(function(){
	$('#validCodeImg').click();
}, 1000);
</script>
			</div>
			<div class="form-group">
				<div class="mt5 icheck">
					<label title="公共场所慎用,下次不需要再填写帐号"><input type="checkbox"
						name="rememberUserCode"
						class="form-control" data-style="square-blue"> 记住账号</label> &nbsp; 
					<label title="公共场所慎用,下次不需要再填写帐号和密码"><input type="checkbox"
						name="rememberMe"
						class="form-control" data-style="square-blue"> 记住密码</label>
				</div>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-block btn-flat"
					id="btnSubmit" data-loading="登录验证成功，正在进入..."
					data-login-valid="正在验证登录，请稍后...">立即登录</button>
			</div>
</form>
		<div class="row">
			<div class="col-xs-12">

				<a href="/js/account/forgetPwd" class="pull-left">忘记密码</a>
			</div>
		</div>
	</div>
	<div class="login-copyright">
		&copy; 2018 Tamguo 题库 - Powered By <a href="http://www.tamguo.com">Tamguo</a>.
	</div>
</div>
</div>

<a id="scroll-up" href="#" class="btn btn-sm"><i class="fa fa-angle-double-up"></i></a>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/select2/4.0/select2.js?V4.0-07171341"></script>
<script src="/select2/4.0/i18n/zh_CN.js?V4.0-07171341"></script>
<script src="/layer/3.1/layer.js?V4.0-07171341"></script>
<script src="/my97/WdatePicker.js?V4.0-07171341"></script>
<script src="/jquery-validation/1.16/jquery.validate.js?V4.0-07171341"></script>
<script src="/jquery-validation/1.16/localization/messages_zh_CN.js?V4.0-07171341"></script>
<script src="/jquery-validation/1.16/jquery.validate.extend.js?V4.0-07171341"></script>
<script src="/common/jeesite.js?V4.0-07171341"></script>
<script src="/common/i18n/jeesite_zh_CN.js?V4.0-07171341"></script>
<script src="/common/common.js?V4.0-07171341"></script>
<script>var secretKey = 'tamguo,tamguo,com';</script>
<script src="/jquery-toastr/2.0/toastr.min.js?V4.0-07171341"></script>
<script src="/common/des.js?V4.0-07171341"></script>
<script src="/modules/sys/sysLogin.js?V4.0-07171341"></script>