<!DOCTYPE html><html><head><meta charset="utf-8"><meta content="webkit" name="renderer"/><meta http-equiv="X-UA-Compatible"
content="IE=edge"><meta name="keywords" content="PoweredByJeeSiteV4.0"/><meta http-equiv="Cache-Control"
content="no-cache, no-store, must-revalidate"/><meta name="description" content="PoweredByJeeSiteV4.0"/><meta
content="no-cache" http-equiv="Pragma"/><meta http-equiv="Expires" content="0"/><meta
content="width=device-width, initial-scale=1, user-scalable=1" name="viewport"/>
<title>JeeSite Demo</title>
<script src="/js/global.min.js?ctx=/js/a"></script>
<script src="/js/static/jquery/jquery-1.12.4.min.js"></script>
<script src="/js/static/jquery/jquery-migrate-1.4.1.min.js"></script>
<!--[if lt IE 9]><script src="/js/static/common/h5fix.min.js"></script><![endif]-->
<link rel="stylesheet" href="/js/static/fonts/font-icons.min.css">
<link rel="stylesheet" href="/js/static/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/js/static/select2/4.0/select2.css?V4.0-07191853">
<link rel="stylesheet" href="/js/static/icheck/1.0/minimal/grey.css?V4.0-07191853">
<link rel="stylesheet" href="/js/static/wdScrollTab/css/TabPanel.css?V4.0-07191853">
<link rel="stylesheet" href="/js/static/adminlte/css/AdminLTE.min.css?V4.0-07191853">
<link rel="stylesheet" href="/js/static/common/jeesite.css?V4.0-07191853">
<link rel="stylesheet" href="/js/static/common/common.css?V4.0-07191853">
</head><body class="hold-transition fixed noscroll2 sidebar-mini ">
<div class="wrapper"><!--[if lte IE 9]><a style="position:absolute;top:0;left:0;z-index:100000;display:block;width:100%;font-size:14px;color:#F00;text-decoration:none;background-color:#faffb3;text-align:center;"
href="/js/static/upbw/index.html" target="_blank">您的浏览器版本过低或在兼容模式下，导致打开速度过慢，提升速度您可以切换到极速模式或升级为最新版，点击此处查看详情。</a><![endif]-->
<!--[if lte IE 8]><script>window.location.href='/js/static/upbw/index.html?url='+location.href;</script><![endif]-->
<link rel="stylesheet" href="/js/static/jquery-toastr/2.0/toastr.min.css?V4.0-07191853">
<link rel="stylesheet" href="/js/static/adminlte/css/skins/skin-blue-light.css?V4.0-07191853">
<link rel="stylesheet" href="/js/static/modules/sys/sysIndex.css?V4.0-07191853">
<header class="main-header">    
	<% include('sysIndex/topMenu.html'){} %>
</header>

<script src="/js/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/static/select2/4.0/select2.js?V4.0-07191853"></script>
<script src="/js/static/select2/4.0/i18n/zh_CN.js?V4.0-07191853"></script>
<script src="/js/static/layer/3.1/layer.js?V4.0-07191853"></script>
<script src="/js/static/my97/WdatePicker.js?V4.0-07191853"></script>
<script src="/js/static/wdScrollTab/js/TabPanel.js?V4.0-07191853"></script>
<script src="/js/static/wdScrollTab/js/TabPanel.extend.js?V4.0-07191853"></script>
<script src="/js/static/common/jeesite.js?V4.0-07191853"></script>
<script src="/js/static/common/i18n/jeesite_zh_CN.js?V4.0-07191853"></script>
<script src="/js/static/common/common.js?V4.0-07191853"></script>
<div class="hide" id="desktopTabPage" data-title="仪表盘"
	data-url="/js/a/desktop"></div>
<div class="hide" id="modifyPasswordTip" data-message=""></div>
<script src="/js/static/jquery-toastr/2.0/toastr.min.js?V4.0-07191853"></script>
<script src="/js/static/jquery-plugins/jquery.slimscroll.js"></script>
<script src="/js/static/modules/sys/sysIndex.js?V4.0-07191853"></script>