<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tamguo.dao.QuestionMapper">

	<select id="findPage" resultType="QuestionEntity">
		SELECT
			q.uid,
			q.analysis,
			q.answer,
			q.chapter_id,
			q.content,
			q.question_type,
			q.course_id,
			q.review_point,
			q.year,
			q.score,
			q.subject_id,
			q.audit_status
		FROM
			tiku_question q
		WHERE
			q.chapter_id = #{chapterId}
		Order By q.uid desc
	</select>
</mapper>