<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title th:text="${#strings.isEmpty(subject.seoTitle) ? '探果题库_聪明的学生都在这里' : subject.seoTitle}"></title>
<meta name="keywords" th:content="${#strings.isEmpty(subject.seoKeywords) ? '探果题库为考生提供高效的智能备考服务，涵括领域有高考、财会类、建筑工程、职业资格、医卫类、计算机类和学历类等热门考试题库。拥有高校名师丰富的经验，优质的学习资料和备考全阶段的高效服务！' : subject.seoKeywords}"/>
<meta name="description" th:content="${#strings.isEmpty(subject.seoDescription) ? '探果题库,高考试题,高考试卷,高校试题,名校,名校试题,名校试卷,高校名师,名师专访,名师教案,名师课堂试题库,试卷库,智能题库,历年真题,模拟试题,押题,预测试题,高考,会计证,会计从业,会计师,经济师,施工员,建造师,建筑师,造价师,职业资格,证券资格,考研,计算机考试,建筑考试,财会类,医卫类,护士资格,公务员,知识点,试题,试卷' : subject.seoDescription}"/>
<meta name="author" content="Tamguo Team" />
<meta name="copyright" content="Tamguo" />
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="/favicon.ico">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
</head>
<body>
	<div class="page-group">
		<div class="page" id="page-index">
			<header class="bar bar-nav">
				<a class="icon icon-me pull-left open-panel"
					data-panel=".panel-left"></a> <a
					class="button button-link button-nav pull-right open-popup"
					data-popup=".popup-about"> 关于 <span class="icon icon-menu"></span>
				</a>
				<h1 class="title" th:text="${'探果题库-' + subject.name}"></h1>
			</header>
			<div class="bar bar-standard bar-footer">
				<a class="icon icon-edit pull-left"></a> <a
					class="icon icon-settings pull-right open-panel"
					data-panel=".panel-right"></a>
			</div>
			<div class="content" id='page-index'>
				<div class="content-inner">
					<div class="content-block-title">试卷</div>
					<div class="card" th:each="question,status:${questionList}">
					      <div class="card-content no-border">
					      		<div class="card-header">题干</div>
					        	<div class="card-content-inner" th:utext="${question.content}">这是一个用纯文本的简单卡片。但卡片可以包含自己的页头，页脚，列表视图，图像，和里面的任何元素。</div>
					      </div>
					      <div class="card-content no-border">
					      		<div class="card-header">答案</div>
					        	<div class="card-content-inner" th:utext="${question.answer}">这是一个用纯文本的简单卡片。但卡片可以包含自己的页头，页脚，列表视图，图像，和里面的任何元素。</div>
					      </div>
					      <div class="card-content no-border">
					      		<div class="card-header">解析</div>
					        	<div class="card-content-inner" th:utext="${question.analysis}">这是一个用纯文本的简单卡片。但卡片可以包含自己的页头，页脚，列表视图，图像，和里面的任何元素。</div>
					      </div>
					      <div class="card-footer">
						        <span class="link">赞</span>
						        <span class="link">评论</span>
						        <span class="link">分享</span>
					      </div>
				    </div>
				</div>
			</div>
		</div>
		<div class="popup popup-about">
			<header class="bar bar-nav">
				<a class="button button-link button-nav pull-right close-popup">
					关闭 </a>
				<h1 class="title">关于探果题库</h1>
			</header>
			<div class="content">
				<div class="content-inner">
					<div class="content-block">
						<p><h4>探果题库旨在为用户提供高效的备考服务，让知识能无障碍传播，为用户创造价值，助您不断前行！</h4></p>
						<div>
							<div>微信公众号</div>
							<p>
								<img style="width:80px;height:80px;" alt="探果题库公众号" th:src="${domainName + 'images/qrcode_for_gh_30d79d8188a1_258.jpg'}">
							</p>
						</div>
						<p></p>
						<p>
							<a class="button close-popup">确定</a>
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="panel-overlay"></div>
		<!-- Left Panel with Reveal effect -->
		<div class="panel panel-left panel-reveal">
			<div class="content-block">
				<p>这是一个侧栏</p>
				<p></p>
				<!-- Click on link with "close-panel" class will close panel -->
				<p>
					<a href="#" class="close-panel">关闭</a>
				</p>
			</div>
		</div>
		<div class="panel panel-right panel-cover">
			<div class="content-block">
				<p>探果题库</p>
				<p></p>
				<!-- Click on link with "close-panel" class will close panel -->
				<p>
					<a href="#" class="close-panel">关闭</a>
				</p>
			</div>
		</div>
	</div>
</body>
</html>