<!DOCTYPE html>
<html style="font-size: 42px;">
<head>
<meta charset="UTF-8">
<meta name="apple-mobile-web-app-title" content="掌上探果网">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black" /> 
<meta name="format-detection" content="telephone=no">
<meta name="applicable-device" content="mobile">
<link rel="canonical" href="https://www.tamguo.com"/>
<meta http-equiv="cleartype" content="on">
<meta http-equiv="Cache-Control" content="no-transform " />
<title th:text="${subject.seoTitle}"></title>
<meta name="keywords" th:content="${subject.seoKeywords}"/>
<meta name="description" th:content="${subject.seoDescription}"/><link rel="stylesheet" th:href="${domainName + 'mobile/css/reset.css'}" />
<link rel="stylesheet" th:href="${domainName + 'mobile/css/index.css'}" />
</head>
<body>
	<div class="wrapper">
		<div class="main_start">
			<!--页面-->
			<!--TODO here-->
			<section class="page page_home">
				<header class="header header_white">
					<div class="flexbox left">
						<a href="javascript:history.back();" class="header_back"></a> 
					</div>
					<a th:href="${domainName}" class=""><span style="font-weight: 600; font-size: 38px; color: #00ae66;">探果网</span></a>
					<a th:href="${domainName}" class="my right"><i class="icon_user"></i></a>
				</header>

				<!--/头部-->
				<div class="content_area">
					<div class="dynamic_search_box">
						<div class="input_wrap">
							<a th:href="${domainName}" class="post_ulog" data-evtid="10523"
								data-ulog="">
								<div class="search_box search_center">
									<i class="icon_search_gray"></i><input type="text"
										class="input" placeholder="请输入学校或老师名~">
								</div>
							</a>
						</div>
					</div>
					
					<!--科目导航-->
					<div class="mod_box channel_nav">
						<div class="gridbox col_4">
							<h2 class="box_col" th:title="${c.name}" th:each="c,cStat:${courseList}">
								<a th:href="${domainName + 'course/' + c.id + '.html'}" class="inner post_ulog">
									<div th:class="${c.icon}"></div>
									<div class="name" th:text="${c.name}">理科数学</div>
								</a>
							</h2>
						</div>
					</div>
					<!--/频道导航-->

					<!--真題列表-->
					<div class="mod_box house_lists">
						<h3 class="mod_tit arrow">
							<a class="post_ulog_search lazyload_ulog_action"
								data-ulog_search="ljweb_id=30001&amp;ljweb_mod=m_pages_homepage_recommend-ershoufang&amp;ljweb_bl=more&amp;ljweb_strategy_id=default"
								data-evtid_lazyaction="10889"
								data-ulog_lazyaction="recommend_module=m_ershou_shouye&amp;fb_service_id=100001&amp;fb_context_id={&quot;req_source_type&quot;:&quot;zhiying_m&quot;}&amp;fb_expo_id=r87474238291230720&amp;fb_strategy_id=10000076&amp;fb_item_type=ershou_house&amp;fb_item_detail=107000203369&amp;fb_item_location=1&amp;fb_ab_test_flag=reco_rule-100001-default-default&amp;fb_response_ts=1535591483&amp;fb_query_id=188971149"
								th:href="${domainName}">为您推荐真题试卷<span class="gray right">更多</span></a>
						</h3>
						<div class="mod_cont">
							<ul class="lists">
								<li class="pictext" th:each="p,pStat:${historyPaperList}">
									<a th:href="${domainName + 'paper/' + p.id + '.html'}" class="a_mask post_ulog_search lazyload_ulog_search post_ulog_action lazyload_ulog_action"></a>
									<div class="flexbox">
										<div class="item_list">
											<div class="item_main" th:text="${p.name}">理科数学 东城区2017年高三上学期期末考试</div>
											<div class="tag_box">
												<span class="tag" style="color: rgb(242, 161, 47); background-color: rgba(242, 161, 47, 0.15);"
													th:title="${p.areaName}" th:text="${p.areaName}">北京</span> <span class="tag"
													style="color: rgb(51, 190, 133); background-color: rgba(51, 190, 133, 0.15);"
													title="真题">真题</span> <span class="tag"
													style="color: rgb(123, 189, 255); background-color: rgba(123, 189, 255, 0.15);"
													th:title="${p.courseName}" th:text="${p.courseName}">理科数学</span>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<!--/真題列表-->
					
					<!--模拟列表-->
					<div class="mod_box house_lists">
						<h3 class="mod_tit arrow">
							<a class="post_ulog_search lazyload_ulog_action"
								data-ulog_search="ljweb_id=30001&amp;ljweb_mod=m_pages_homepage_recommend-ershoufang&amp;ljweb_bl=more&amp;ljweb_strategy_id=default"
								data-evtid_lazyaction="10889"
								data-ulog_lazyaction="recommend_module=m_ershou_shouye&amp;fb_service_id=100001&amp;fb_context_id={&quot;req_source_type&quot;:&quot;zhiying_m&quot;}&amp;fb_expo_id=r87474238291230720&amp;fb_strategy_id=10000076&amp;fb_item_type=ershou_house&amp;fb_item_detail=107000203369&amp;fb_item_location=1&amp;fb_ab_test_flag=reco_rule-100001-default-default&amp;fb_response_ts=1535591483&amp;fb_query_id=188971149"
								th:href="${domainName}">为您推荐模拟试卷<span class="gray right">更多</span></a>
						</h3>
						<div class="mod_cont">
							<ul class="lists">
								<li class="pictext" th:each="p,pStat:${simulationPaperList}">
									<a th:href="${domainName + 'paper/' + p.id + '.html'}" class="a_mask post_ulog_search lazyload_ulog_search post_ulog_action lazyload_ulog_action"></a>
									<div class="flexbox">
										<div class="item_list">
											<div class="item_main" th:text="${p.name}">理科数学 东城区2017年高三上学期期末考试</div>
											<div class="tag_box">
												<span class="tag" style="color: rgb(242, 161, 47); background-color: rgba(242, 161, 47, 0.15);"
													th:title="${p.areaName}" th:text="${p.areaName}">北京</span> <span class="tag"
													style="color: rgb(51, 190, 133); background-color: rgba(51, 190, 133, 0.15);"
													title="真题">模拟</span> <span class="tag"
													style="color: rgb(123, 189, 255); background-color: rgba(123, 189, 255, 0.15);"
													th:title="${p.courseName}" th:text="${p.courseName}">理科数学</span>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<!--/模拟列表-->
					
					<!--热门列表-->
					<div class="mod_box house_lists">
						<h3 class="mod_tit arrow">
							<a class="post_ulog_search lazyload_ulog_action"
								data-ulog_search="ljweb_id=30001&amp;ljweb_mod=m_pages_homepage_recommend-ershoufang&amp;ljweb_bl=more&amp;ljweb_strategy_id=default"
								data-evtid_lazyaction="10889"
								data-ulog_lazyaction="recommend_module=m_ershou_shouye&amp;fb_service_id=100001&amp;fb_context_id={&quot;req_source_type&quot;:&quot;zhiying_m&quot;}&amp;fb_expo_id=r87474238291230720&amp;fb_strategy_id=10000076&amp;fb_item_type=ershou_house&amp;fb_item_detail=107000203369&amp;fb_item_location=1&amp;fb_ab_test_flag=reco_rule-100001-default-default&amp;fb_response_ts=1535591483&amp;fb_query_id=188971149"
								th:href="${domainName}">为您推荐热门试卷<span class="gray right">更多</span></a>
						</h3>
						<div class="mod_cont">
							<ul class="lists">
								<li class="pictext" th:each="p,pStat:${hotPaperList}">
									<a th:href="${domainName + 'paper/' + p.id + '.html'}" class="a_mask post_ulog_search lazyload_ulog_search post_ulog_action lazyload_ulog_action"></a>
									<div class="flexbox">
										<div class="item_list">
											<div class="item_main" th:text="${p.name}">理科数学 东城区2017年高三上学期期末考试</div>
											<div class="tag_box">
												<span class="tag" style="color: rgb(242, 161, 47); background-color: rgba(242, 161, 47, 0.15);"
													th:title="${p.areaName}" th:text="${p.areaName}">北京</span> <span class="tag"
													style="color: rgb(51, 190, 133); background-color: rgba(51, 190, 133, 0.15);"
													title="热门" th:text>热门</span> <span class="tag"
													style="color: rgb(123, 189, 255); background-color: rgba(123, 189, 255, 0.15);"
													th:title="${p.courseName}" th:text="${p.courseName}">理科数学</span>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<!--/模拟列表-->
				</div>

				<!--底部:导航当前页用h1着重强调-->
				<footer class="footer">
					<div class="nav">
						<span class="location"><a th:href="${domainName}">上海手机探果网</a></span>
					</div>
					<div class="link_box">
						<div class="link_tit">
							<h3 class="li text_cut active" data-act="foot_nav"
								data-mark="foot_nav">探果网分站</h3>
							<h3 class="li text_cut" data-act="foot_nav" data-mark="foot_nav">热门城市</h3>
						</div>
						<div class="link_cont">
							<ul class="gridbox col_3 contlists active" data-mark="foot_navs">
								<li class="box_col"><a th:href="${domainName}">北京探果网</a></li>
								<li class="box_col"><a th:href="${domainName}">成都探果网</a></li>
								<li class="box_col"><a th:href="${domainName}">杭州探果网</a></li>
								<li class="box_col"><a th:href="${domainName}">上海探果网</a></li>
								<li class="box_col"><a th:href="${domainName}">天津探果网</a></li>
								<li class="box_col"><a th:href="${domainName}">南京探果网</a></li>
								<li class="box_col"><a th:href="${domainName}">青岛探果网</a></li>
								<li class="box_col"><a th:href="${domainName}">广州探果网</a></li>
								<li class="box_col"><a th:href="${domainName}">济南探果网</a></li>
							</ul>
							<ul class="gridbox col_3 contlists" data-mark="foot_navs">
								<li class="box_col"><a th:href="${domainName}">重庆探果网</a></li>
								<li class="box_col"><a th:href="${domainName}">苏州探果网</a></li>
								<li class="box_col"><a th:href="${domainName}">武汉探果网</a></li>
								<li class="box_col"><a th:href="${domainName}">深圳探果网</a></li>
								<li class="box_col"><a th:href="${domainName}">长沙探果网</a></li>
								<li class="box_col"><a th:href="${domainName}">大连探果网</a></li>
								<li class="box_col"><a th:href="${domainName}">厦门探果网</a></li>
								<li class="box_col"><a th:href="${domainName}">合肥探果网</a></li>
								<li class="box_col"><a th:href="${domainName}">佛山探果网</a></li>
								<li class="box_col"><a th:href="${domainName}">东莞探果网</a></li>
								<li class="box_col"><a th:href="${domainName}">烟台探果网</a></li>
							</ul>
						</div>
					</div>
					<div class="info">
						<div class="icon_box">
							<a href="javascript:;" data-mark="download_app"
								title="iPhone客户端" class="icon_iphone lazyload_ulog"
								rel="nofollow">iPhone客户端</a> 
							<a href="javascript:;"
								title="Android客户端" class="icon_android lazyload_ulog"
								data-evtid="10380" data-ulog="ljweb_mod=bottom_logo_android"
								rel="nofollow">Android客户端</a>
						</div>
						<div class="copyright">
							<p class="company">上海探果网络科技有限公司</p>
							<p class="record">沪ICP备14022608号-1</p>
							<div class="record" style="">
								<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo"
									style="display: inline-block; text-decoration: none; height: 20px; line-height: 20px;"><img
									src="https://s1.ljcdn.com/hulk-web/static/m/images/common/beian.png?_v=14022608"
									style="float: left;">
								<p
										style="float: left; height: 20px; line-height: 20px; margin: 0px 0px 0px 5px; color: #727373;">沪ICP备14022608号-1</p></a>
							</div>
						</div>
					</div>
				</footer>
				<!--/底部-->
			</section>
			<!--/页面-->
		</div>
	</div>
</body>
<script type="text/javascript" th:inline="javascript">
//百度统计 www.tamguo.com
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?877e9c9ef462fe55b7750d478a41c981";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();

// 百度推送 www.tamguo.com
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();

<!--360搜索自动推送  www.tamguo.com-->
(function(){
var src = (document.location.protocol == "http:") ? "http://js.passport.qihucdn.com/11.0.1.js?40ee03bede7c19e05d89f18db868df8a":"https://jspassport.ssl.qhimg.com/11.0.1.js?40ee03bede7c19e05d89f18db868df8a";
document.write('<script src="' + src + '" id="sozz"><\/script>');
})();
</script>
</html>