<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tamguo.modules.sys.dao.SysCompanyMapper">
	
	<select id="listData" resultType="SysCompanyEntity">
		SELECT
			c.code,
			c.parent_code,
			c.is_leaf,
			c.tree_level,
			c.name,
			c.full_name,
			c.type,
			c.remarks,
			c.update_date,
			c.status
		FROM
			sys_company c		
		<where>
			1 = 1
			<choose>
		        <when test="parentCode != null and parentCode != ''">
		          	and c.parent_code = #{parentCode}
		        </when>
		        <otherwise>
		            and c.tree_level = 0
		        </otherwise>
		    </choose>
		</where>
	</select>
	
	<select id="selectByCode" resultType="SysCompanyEntity">
		SELECT
			c.code,
			c.parent_code,
			c.is_leaf,
			c.tree_level,
			c.name,
			c.full_name,
			c.type,
			c.update_date,
			c.create_date,
			c.`status`,
			cp.name as parent_name
		FROM
			sys_company c
		LEFT JOIN sys_company cp on cp.code = c.parent_code
		WHERE
			c.code = #{code}
	</select>
</mapper>