<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tamguo.modules.sys.dao.SysPostMapper">
	
	<select id="listData" resultType="SysPostEntity">
		SELECT
			p.id,
			p. NAME,
			p.`code`,
			p.post_type,
			p.sorts,
			p.remarks,
			p.create_date,
			p.update_date,
			p.status
		FROM
			sys_post p
	</select>
	
</mapper>