<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tamguo.modules.sys.dao.SysUserMapper">
	
	<select id="queryByLoginCode" resultType="SysUserEntity">
		SELECT
			u.*
		FROM
			sys_user u
		WHERE
			u.login_code = #{loginCode}
  	</select>
  	
  	<select id="listData" resultType="SysUserEntity">
		SELECT
			u.user_code,
			u.office_code,
			u.office_name,
			u.company_code,
			u.company_name,
			u.login_code,
			u.user_name,
			u.ref_name,
			u.email,
			u.mobile,
			u.phone,
			u.update_date,
			u.`status`
		FROM
			sys_user u
		WHERE
			1 = 1
  	</select>

</mapper>