<!DOCTYPE html>
<html lang="Zh-hans" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
		<title>探果题库_聪明的学生都在这里</title>
		<meta name="keywords" content="探果题库为考生提供高效的智能备考服务，涵括领域有高考、财会类、建筑工程、职业资格、医卫类、计算机类和学历类等热门考试题库。拥有高校名师丰富的经验，优质的学习资料和备考全阶段的高效服务！"/>
		<meta name="description" content="探果题库,高考试题,高考试卷,高校试题,名校,名校试题,名校试卷,高校名师,名师专访,名师教案,名师课堂试题库,试卷库,智能题库,历年真题,模拟试题,押题,预测试题,高考,会计证,会计从业,会计师,经济师,施工员,建造师,建筑师,造价师,职业资格,证券资格,考研,计算机考试,建筑考试,财会类,医卫类,护士资格,公务员,知识点,试题,试卷"/>
		<meta name="author" content="Tamguo Team" />
		<meta name="copyright" content="Tamguo" />	
        <!-- 引入 FrozenUI -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/muse-ui@3.0.0-rc.5/dist/muse-ui.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
		<link rel="stylesheet" href="https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.css">
		<style type="text/css">
			.mu-appbar-header {
			    position: fixed;
			    left: 0;
			    right: 0;
			    top: 0;
			    z-index: 101;
			    overflow: hidden;
			}
		</style>
    </head>
    <body>
    	<div id="app">
	    	<mu-appbar style="width: 100%;" color="grey700" class="mu-appbar-header">
			  <mu-button icon slot="left">
			    <mu-icon value="menu"></mu-icon>
			  </mu-button>
				探果题库
			  <mu-button flat slot="right">登录</mu-button>
			  <mu-button flat slot="right">注册</mu-button>
			</mu-appbar>
			<mu-paper :z-depth="1" class="demo-list-wrap" style="margin-top:70px;">
			  <mu-list th:each="subject,status:${subjectList}">
			  	<!-- <mu-sub-header>{{item.name}}</mu-sub-header> -->
			    <mu-list-item avatar button :ripple="true" th:href="${domainName + 'subject/'+subject.id + '.html'}">
			      <mu-list-item-title th:text="${subject.name}">{{it.name}}</mu-list-item-title>
			      <mu-list-item-action>
			        <mu-icon value="keyboard_arrow_right"></mu-icon>
			      </mu-list-item-action>
			    </mu-list-item>
			    </mu-list-item>
			  	<mu-divider></mu-divider>
			  </mu-list>
			</mu-paper>
		</div>
    </body>
    <!-- 引入 Vue -->
    <script type="text/javascript" th:inline="javascript">
		var mainHttp = [[${domainName}]];
	</script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16"></script>
    <script src="https://cdn.jsdelivr.net/npm/muse-ui@3.0.0-rc.5/dist/muse-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>
    <script th:src="${domainName + 'js/index/main.js'}"></script>
</html>